h1 {
    position: absolute;
    top: 5.2rem;
    font-family: rijksbold;
    text-align: left;
    width: 100%;
    left: .3em;
    font-size: 14vw;
    text-transform: uppercase;
    color: var(--color-text);
    margin-top: 0;
    line-height: .8;
}

@media (width > 50em) {
    h1 {
        font-size: 9vw;
        left: 5%;;
    }

}

body {
    margin: 0;
}

/* 1e sectie main */
section:nth-of-type(1) {
    height: 100vh; 
    position: relative;
}

section:nth-of-type(1) img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}




/* 2e sectie main */
section:nth-of-type(2) article {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    overflow: hidden;
    padding: 0;
}

section:nth-of-type(2) article img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

main section:nth-of-type(2) h2{
    position: absolute; 
    font-size: 7vw;
    font-family: rijksbold;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: .7em;
    top: 1%;
}

main section:nth-of-type(2) h3{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.263;
    text-transform: uppercase;
	margin-top: .25rem; 
    padding-left: 2em;
    padding-bottom: 1.5em;
}

@media (width > 50em) {

    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }

       section article:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 3; 
    }

    section article:nth-of-type(2) {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    section article:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 2; 
    }

    section article:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 3; 
    }

    section article:nth-of-type(5) {
        grid-column-start: 3;
        grid-column-end: 4; 
    }
 
}

    /* Bronnen voor grid: 
    https://codepen.io/YulanS/pen/bGXZOOL?editors=1100
    https://www.w3schools.com/cssref/tryit.php?filename=trycss_grid-column-start */


/* 3e sectie h3 */
section:nth-of-type(3) {
    height: 10em;
}

section:nth-of-type(3) ul {
    position: relative; 
}

section:nth-of-type(3) li {
    list-style-type: none; 
}

section:nth-of-type(3) a {
    position: absolute;  
    right: 2rem;          
    font-size: 1rem;   
    color: var(--color-text);
}

main section:nth-of-type(3) h2{
    position: relative; 
    left: 2rem;             
    font-size: 7vw;   
    text-transform: uppercase;
    top: 2.5em;
}

@media (width > 50em) {

    section:nth-of-type(3) {
        height: 4em;
    }

    main section:nth-of-type(3) h2{
        position: relative; 
        left: 2rem;            
        font-size: 3em;   
        text-transform: uppercase;
        top: 2em;
    }

}

section article:nth-of-type(3),
section article:nth-of-type(4),
section article:nth-of-type(5) {
    height: 50vh; 
}

/* 4e sectie main */
section:nth-of-type(4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

section:nth-of-type(4) img {
    width: 100%; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
}

@media (width > 40em) {

    section:nth-of-type(4) {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (width > 80em) {

    section:nth-of-type(4) {
        grid-template-columns: repeat(4, 1fr); 
    }
}

        /* bron:
         https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */

/* 5e sectie main */
section:nth-of-type(5) {
    height: 16em;
    background-color: #efeae7;
    margin-top: -3em;
    position: relative; 
}

section:nth-of-type(5) ul {
    list-style: none; 
    position: absolute; 
    top: 5%; 
    right: 2rem; 
}

section:nth-of-type(5) li {
    list-style-type: none; 
}

section:nth-of-type(5) a {
    top: 9vw;
    right: 5%;          
    font-size: 1rem;   
    color: #000000;
}

main section:nth-of-type(5) h2{
    left: 2rem;           
    position: absolute;  
    font-size: 2.5rem;   
    text-transform: uppercase;
    color: #2c2926;
    font-family: rijksbold;
    font-weight: 400;
    z-index: 30;
    top: 30%;
}

main section:nth-of-type(5) button {
    padding: 0 20px;
    height: 3.125rem;
    border-style: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-text);
    z-index: 30;
    position: relative;
    top: 70%;
    left: 2rem;
}

main section:nth-of-type(5) button:nth-of-type(1) {
    background-color: var(--button-background-color);
    font-weight: 500;
}

main section:nth-of-type(5) button:nth-of-type(2) {
    background-color: rgba(0, 0, 0, .25);
    font-weight: 200;
}


@media (width > 50em) {


    main section:nth-of-type(5) h2{        
        font-size: 3em;   
    }
    

}

/* 6e sectie main */

main section:nth-of-type(6) article img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

article p, article h2, article h3 {
    color: var(--color-text);
    position: absolute; 
    bottom: 2em;  
    left: 2rem; 
}

article p {
    font-size: .9rem;
	font-weight: 100;
	line-height: .75rem;
    text-transform: uppercase;
    align-self: flex-start; 
    z-index: 1;
    position: absolute;
    margin: 0;
    padding-bottom: .5em;
    text-decoration: underline;
}

article h2 {
	font-size: calc(1.188rem + .25*((100vw - 20rem) / 100));
    font-weight: 700;
    line-height: 1.263;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    padding-bottom: 1.5em;
}

article h3 {
	margin-top: -.5em; 
	font-size: calc(1rem + .125*((100vw - 20rem) / 100));
    font-weight: 100;
    line-height: 1.375;
    position: absolute;
    margin: 0;
    padding-bottom: 1em;
}

/* eerste article */

main section:nth-of-type(6) article:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr; 
    border: .1em solid #efeae7; 
    position: relative;
}

/* tweede article */
main section:nth-of-type(6) article:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;   
    height: 50vh; 
    border: .1em solid #efeae7; 
    position: relative;
}

main section:nth-of-type(6) article:nth-of-type(2) img:nth-of-type(1) {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
}

main section:nth-of-type(6) article:nth-of-type(2) img:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

main section:nth-of-type(6) article:nth-of-type(2) img:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* derde article */
main section:nth-of-type(6) article:nth-of-type(3){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;   
    height: 50vh; 
    border: .1em solid #efeae7; 
    position: relative;
}

main section:nth-of-type(6) article:nth-of-type(3) img:nth-of-type(1) {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
}

main section:nth-of-type(6) article:nth-of-type(3) img:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

main section:nth-of-type(6) article:nth-of-type(3) img:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* vierde article */
main section:nth-of-type(6) article:nth-of-type(4){
    display: grid;
    grid-template-columns: 1fr; 
    height: 50vh; 
    border: .1em solid #efeae7; 
    position: relative;
}

main section:nth-of-type(6) article:nth-of-type(4) img:nth-of-type(1) {
    grid-column-start:1;
    grid-row-start: 1;
    grid-row-end: 2;
}

main section:nth-of-type(6) article:nth-of-type(4) img:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: z;
    grid-row-end: 3;
}

/* vijfde article */
main section:nth-of-type(6) article:nth-of-type(5){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;   
    height: 50vh; 
    border: .1em solid #efeae7; 
    position: relative;
}

main section:nth-of-type(6) article:nth-of-type(5) img:nth-of-type(1) {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
}

main section:nth-of-type(6) article:nth-of-type(5) img:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

main section:nth-of-type(6) article:nth-of-type(5) img:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* zesde article */
main section:nth-of-type(6) article:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr; 
    border: .1em solid #efeae7; 
    position: relative;
}

main section:nth-of-type(6) article:nth-of-type(6) button {
    background: #6f6d6d95;
    z-index: 50;
    position: absolute; 
    bottom: 2em; 
    left: 2rem; 
    text-align: left; 
    padding: 1em;
    border-radius: 2px;
    font-size: 1em;
    border-style: none;
    color: var(--color-text);
    cursor: pointer;
}

main section:nth-of-type(6) article:nth-of-type(6) button:hover{
    transition: .5s;
    background-color: var(--color-text);
    color: black;
}

@media (width > 50em) {
    main section:nth-of-type(6) {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-gap: 0; 
    }

    /* Eerste artikel */
    main section:nth-of-type(6) article:nth-of-type(1) {
        grid-column-start: 1; 
        grid-column-end: 4;   
        grid-row-start: 1;    
        grid-row-end: 2;      
        height: 70vh;       
    }

    /* Tweede artikel */
    main section:nth-of-type(6) article:nth-of-type(2) {
        grid-column-start: 4; 
        grid-column-end: 7;  
        grid-row-start: 1;    
        grid-row-end: 2;   
        height: 70vh;      
    }

    /* Derde artikel */
    main section:nth-of-type(6) article:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 3;  
        grid-row-start: 2;    
        grid-row-end: 3;   
        height: 50vh;     
    }

    /* Vierde artikel */
    main section:nth-of-type(6) article:nth-of-type(4) {
        grid-column-start: 3; 
        grid-column-end: 5;   
        grid-row-start: 2;   
        grid-row-end: 3;     
        height: 50vh;      
        object-position: center; 
        object-fit: cover;
    }

    /* Vijfde artikel */
    main section:nth-of-type(6) article:nth-of-type(5) {
        grid-column-start: 5; 
        grid-column-end: 7;   
        grid-row-start: 2;    
        grid-row-end: 3;    
        height: 50vh;         
    }

    /* Zesde artikel - vult de volledige breedte */
    main section:nth-of-type(6) article:nth-of-type(6) {
        grid-column-start: 1;  
        grid-column-end: 7;    
        grid-row-start: 3;     
        grid-row-end: 4;   
        height: auto;         
    }
}

/* zevende sectie */
section:nth-of-type(7) {
    height: 13em;
    background-color: #efeae7;
    position: relative; 
}

section:nth-of-type(7) ul {
    list-style: none; 
    position: absolute; 
    bottom: 15%; 
}

section:nth-of-type(7) li {
    left: 2rem; 
}

section:nth-of-type(7) a {      
    font-size: 1rem;   
    color: #000000;
}

main section:nth-of-type(7) h2{
    left: 2rem;           
    position: absolute;  
    font-size: 1rem;   
    color: #2c2926;
    font-family: rijksnormal;
    font-weight: 400;
    z-index: 30;
    top: 15%;
}

main section:nth-of-type(7) button {
    padding: 0 20px;
    height: 3.125rem;
    border-style: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-text);
    z-index: 30;
    position: relative;
    left: 2rem;  
    top: 35%;
    margin-right: .2em;
}

main section:nth-of-type(7) button:nth-of-type(1) {
    background-color: var(--button-background-color);
}

main section:nth-of-type(7) button:nth-of-type(2),
main section:nth-of-type(7) button:nth-of-type(3)
 {
    font-size: 1rem;
    font-weight: 300;
    background-color: rgba(0, 0, 0, .25);
}

@media screen and (min-width: 50em) {

    section:nth-of-type(7) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; 
        align-items: center; 
        height: 10em; 
        grid-template-rows: 1fr;
    }

    main section:nth-of-type(7) h2{ 
        grid-column-start: 1; 
        grid-column-end: 3; 
        position: absolute;
        justify-self: start; 
        margin-top: 6vh;
        font-size: 1.5vw;
    }

    main section:nth-of-type(7) button{
        top: 0;
        font-size: 1rem;
    }

    main section:nth-of-type(7) button:nth-of-type(1){
        grid-column-start: 3; 
        grid-column-end: 4; 
        padding: 0;
    }

    main section:nth-of-type(7) button:nth-of-type(2) {
        grid-column-start: 4; 
        grid-column-end: 5; 
    }

    main section:nth-of-type(7) button:nth-of-type(3) {
        grid-column-start: 5; 
        grid-column-end: 6; 
    }

    section:nth-of-type(7) ul {
        grid-column-start: 7; 
        grid-column-end: 9; 
        position: absolute;
        bottom: 30%;
        justify-self: end;
        right: 2rem;
    }

    section:nth-of-type(7) li {
        right: 2em; 
    }
    
    section:nth-of-type(7) a {      
        font-size: 1.5vw;   
    }

}



