*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: rijksbold;
	src: url(/fonts/Rijksmuseum-Bold.woff2);
}

@font-face {
	font-family: rijksnormal;
	src: url(/fonts/Rijksmuseum-Normal.woff2);
}

:root {
	/* startje */
	--color-text: #FFFFFF;
	--button-background-color: #d55140;
	--nav-background-color: #40474F;
}

body {
	font-family: rijksnormal;
	margin: 0;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem; 
    position: absolute;
    top: 2.5%; 
    left: 5%;
    right: 5%;
}

header button {
	display: flex;
	align-items: center;
}

header img{
	width: 1.3em;
}

nav.toonMenu {
	translate: 0;
}

  /* hamburger */
header button:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	z-index: 20;
	width: 3em;
	height: 3em;
	background: none;
	border: none;
	cursor: pointer;
	justify-content: space-around;
}
  
header button:nth-of-type(1) span {
	display: block;
	width: 2em;
	height: 0.2em;
	background-color: var(--color-text);
	border-radius: 0.2em;
	transition: all 0.3s ease-in-out;
}
  
  /* Menu verborgen */
header nav {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--nav-background-color);
	padding: 2em;

	/* KIJKEN */
	transition: transform .2s ease-out, opacity 0ms linear .2s;
	z-index: 10;
}
  
  /* Menu uitklapppen zichtbaar */
 header nav.toonMenu {
	left: 0;
}
  
/* Hamburger wordt kruisje */
header button:nth-of-type(1).open span:nth-of-type(1) {
	transform: translateY(0.8em) rotate(45deg);
}
  
header button:nth-of-type(1).open span:nth-of-type(2) {
	opacity: 0;
}
  
header button:nth-of-type(1).open span:nth-of-type(3) {
	transform: translateY(-0.8em) rotate(-45deg);
}

/* rode knop */
header button:nth-of-type(2) {
    align-items: center;
    background-color: var(--button-background-color);
    border-radius: 2px;
    color: var(--color-text);
    border: none;
    font-size: .9em;
    font-weight: 600;
    height: 3.125rem;
    padding: 0 20px;
}

/* Hover-effect voor de tweede button */
header button:nth-of-type(2):hover {
    background-color: var(--color-text);
    color: var(--nav-background-color);
}

header a {
	color: var(--color-text);
	text-decoration: none;
}

header li {
	list-style: none;
}

h1 {
	position: absolute;
	top: 3%;
	font-family: rijksbold;
	text-align: center;
	width: 100%;
	left: 50%;
	font-size: 14vw;
	text-transform: uppercase;
	color: var(--color-text);
	transform: translateX(-50%); 
}

@media (width > 50em) {

header nav {
		padding-top:12em;
		right:50%;
		width: 50%;
}
	
header div {
		position:relative;
		z-index:1;
}
}

button img {
	width: 4em;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 2rem; 
    overflow: hidden;
}

section p, section h2, section h3 {
    color: var(--color-text);
}

section p {
    background: var(--color-text);
	border-radius: 1px;
    color: #000000;
    font-size: .75rem;
	font-weight: 600;
	line-height: .75rem;
    text-transform: uppercase;
    margin-top: 1em;
    padding: .2rem .2rem;
	padding-top: .45em;
    align-self: flex-start; 
    z-index: 1;
}

section h2 {
	font-size: calc(1.188rem + .25*((100vw - 20rem) / 100));
    font-weight: 700;
    line-height: 1.263;
    text-transform: uppercase;
	margin-top: .25rem; 
}

section h3 {
	margin-top: -.5em; 
	font-size: calc(1rem + .125*((100vw - 20rem) / 100));
    font-weight: 100;
    line-height: 1.375;
}


section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}




